@keyframes textvib{
    from{transform: scale(1.0);}to{transform: scale(1.01);}
}

@keyframes textsizeup{
    from{transform: scale(1.0);}to{transform: scale(1.2);}
}

@keyframes imgfloat{
    from{
    	transform: translateX(0);
    	animation-timing-function: cubic-bezier(1,0,0.8,1);
	}
	to
	{
		transform: translateX(10px);
	}
}

@keyframes textshine{
	from{
		opacity: 0.5;
		animation-timing-function: cubic-bezier(1,0.6,0.8,1);
	}
	to{
		opacity: 1;
	}
}
