@keyframes words{
	0% {
	    transform: scale(0);
	}
	40% {
	    transform: scale(1.2);
	}
	100% {
	    transform: scale(1);
	}
}

@keyframes wordsrepeat{
	0%, 100%, 12% {
	    transform: scale(1);
	}
	4% {
	    transform: scale(.8);
	}
	8% {
	    transform: scale(1.2);
	}
}

@keyframes balloon{
	0% {
	    transform: scale(0) translateX(5px);
	}
	100% {
	    transform: scale(1) translateX(5px);
	}
}

@keyframes imgfloat{
    from{
    	transform: translateX(0);
    	animation-timing-function: cubic-bezier(1,0,0.8,1);
	}
	to
	{
		transform: translateX(10px);
	}
}

@keyframes textshine{
	from{
		opacity: 0.5;
		animation-timing-function: cubic-bezier(1,0.6,0.8,1);
	}
	to{
		opacity: 1;
	}
}

@keyframes rotate{
	from{
		transform: rotate(0);		
	}
	to{
		transform: rotate(2deg);
		animation-timing-function: cubic-bezier(1,0,0.8,1);	
	}
}

@keyframes secondrotate{
	from{
		transform: rotate(0);		
	}
	to{
		transform: rotate(10deg);
		animation-timing-function: cubic-bezier(1,0,0.8,1);	
	}
}

@keyframes thirdrotate{
	from{
		transform: rotate(0);		
	}
	to{
		transform: rotate(15deg);
		animation-timing-function: cubic-bezier(1,0,0.8,1);	
	}
}

@keyframes textbizside{
	from{
		transform: translateX(1px);
	}
	to{
		transform: translateX(1.7px);
	}
}

@keyframes textbizupdown{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(0.3px);
	}
}

@keyframes swing {
    0% { transform: rotate(0.25deg); }
    100% { transform: rotate(-0.25deg); }
}

@keyframes bling {
	from{
		background-image: url(../image/top_arrow.PNG);
	}
	to{
		background-image: none;
	}
}