.profile_img{
    width: 100%;
}

.nopadding{
    padding: 0;
}

header{
    height: 108px;
    background: #161616;
    top: -50px;
    padding: 10px 100px;
}

header>nav{
    float: right;
    background: #161616;
}

header>nav>span{
    margin-right: 10px;
    color: white;
    display: block;
    float: left;
    line-height: 90px;
    cursor: pointer;
}

.header_fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

#nav_toggle_btn{
    background-image: url(../image/sandwich.PNG);
    background-size: cover;
    width: 80px;
    height: 80px;
    display: none;
    float: right;
    right: 0;
    margin-right: 10px;
}

/* 

 01. intro_div

*/

#intro_div{
    background-color: #41969c;
    padding-top: 1em;
}

.main_img{
    animation-name: words, imgfloat;
    animation-iteration-count: 1,infinite;
    animation-duration: 0.7s,2s;
    animation-delay: 0.1s, 1s;
    animation-direction: normal, alternate;
}

#main_img_second{
    display: none;
}

#balloon_div{
    position: relative;
    font-size: 1rem;
}

.sub_balloon{
    position: absolute;
    margin: 0;
}

#big_balloon{
    z-index: 1;
    animation: rotate 2s 1s infinite alternate;
    width: 90%;
    opacity: 0;
}

#middle_balloon{
    width: 5em;
    top: 45%;
    right: -1em;
    animation: secondrotate 2s 1s infinite alternate;
}

#small_balloon{
    width: 2.5rem;
    top: 40%;
    right: -4em;
    animation: thirdrotate 2s 1s infinite alternate;
}

.skill_text{
    position: absolute;
    z-index: 2;
    transform: scale(0) translate3d(0,0,0);
    animation-name: words,wordsrepeat;
    animation-iteration-count: 1,infinite;
    animation-duration: 0.7s,5s;
    animation-fill-mode: forwards,forwards;
}

.main_skill{
    animation-delay: 0.53s, 4.53s;
    font-size : 1.5em;
}

.sub_skill{
    animation-delay: 1.9s, 5.9s;
    color: #808080;
    font-size: 1.2em;
}

.tool_skill{
    animation-delay: 1s, 5s;
    font-size : 1.0em;
    color: #808080
}

.etc_skill{
    animation-delay: 2.4s, 7.4s;
    font-size : 0.9em;
}

#s_html{
    top: 25%;
    left: 20%;
}

#s_css{
    top: 34%;
    left: 15%;
}

#s_bs{
    top: 56%;
    left: 45%;
}

#s_js{
    top: 33%;
    left: 40%;
}

 #s_jq{
    top: 37%;
    left: 43%;
}

#s_ajax{
    top: 46%;
    left: 48%;
}

#s_node{
    top: 15%;
    left: 46%;
}

#s_wp{
    top: 52%;
    left: 20%;
}

#s_WIX{
    top: 40%;
    left: 70%;
}

#s_aws{
    top: 62%;
    left: 60%;
}

#s_py{
    top: 45%;
    left: 30%;
}


#s_stree{
    top: 25%;
    left: 63%;
}

#s_jira{
    top: 30%;
    left: 57%;
}

#s_bit{
    top: 20%;
    left: 34%;
}

#s_stride{
    top: 22%;
    left: 56%;
}

#s_conf{
    top: 40%;
    left: 20%;
}

#s_trello{
    top: 46%;
    left: 73%;
}

#s_gdrive{
    top: 33%;
    left: 68%;
}

#s_ppt{
    top: 50%;
    left: 60%;
}

/*

 02. Introduce

*/

#Introduce{
    background-image: url(../image/background/paper_01.jpg);
    background-size: cover;
    font-size: 3em;
    padding-top: 1.2em;
    padding-bottom: 2.5em;
}

.groot_div{
    padding-top: 1.6em;
}

#profile_ment_div{
    height: 40rem;
    margin-left: 20px;
}

#profile{
    margin-bottom: 1em;
}

.profile_ment{
    position: absolute;
    line-height: 0;
    text-shadow: 0.2vw 0.2vw 1vw gray;
}

#seoul{
    font-size: 0.9em;
    top: 4em;
}

#upgrade{
    font-size: 1.3em;
    top: 4em; 
    left: 1em;
}

#tree{
    font-size: 1.7em;
    top: 4.2em;
    left: 0.5em;
}

#frontend{
    font-size: 1.9em;
    top: 4.7em;
    left: 0.5em;
    text-shadow: 0.5vw 0.5vw 0.5vw gray;
    animation-name: textshine, textbizside;
    animation-duration: 2s, 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#developer{
    font-size: 1.9em;
    top: 5.45em;
    left: 0.61em;
    text-shadow: 0.5vw 0.5vw 0.5vw gray;
    animation-name: textshine, textbizside;
    animation-duration: 2s, 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


/*

 03. Profile

*/

#Profile{
    padding: 5em 0em;
}

.namecard_div_img {
    width: 90%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 18px #000;
    -webkit-box-shadow: 0 0 18px #000;
    -moz-box-shadow: 0 0 18px #000;
    margin: 0.5em auto;
}

#profile:before{
    content: '';
    width: 12px;
    height: 12px;
    background: #41969c;
    display: inline-block;
    margin-right: 10px;
    text-indent: -12px;
    border-radius: 12px;
}

#namecard_ment_div{
    position: absolute;
    width: 10em;
    height: 24.5em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.sns_icon{
    width: 2.5em;
    animation-name: textshine, textbizside;
    animation-duration: 1.3s, 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.sns_icon:hover{
    animation-name: words,wordsrepeat;
    animation-iteration-count: 1,infinite;
    animation-duration: 0.7s,3s;
    animation-fill-mode: forwards,forwards;
}


/*

 04. Favorite

*/

#Favorite{
    background-color: #41969c;
}

#postit_wrapper{
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

#postit_wrapper h1{
    margin-bottom: 2em;
}

.postit>span{
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}

.postit{
    background-color: #fffa60;
    width: 15em;
    line-height: 15em;
    height: 15em;
    display: inline-block;
    margin: 1em 1em;
    box-shadow: 10px 10px 20px black;
    animation: swing ease-in-out 1s infinite alternate;
}

.postit:hover{
    animation-name: words,wordsrepeat;
    animation-iteration-count: 1,infinite;
    animation-duration: 0.7s,3s;
    animation-fill-mode: forwards,forwards;
}


/*
    
  05. Experience

*/

#Experience{
/*     background-image: url(../image/background/paper_02.jpg);
background-size: cover; */
    padding: 5em 0em 3em;
}

#Experience h2:before{
    content: '';
    width: 12px;
    height: 12px;
    background: #41969c;
    display: inline-block;
    margin-right: 10px;
    text-indent: -12px;
    border-radius: 12px;
}

#Experience h2{
    margin-top: 2em;
    margin-bottom: 2em;
}

#Experience p{
    font-size: 1.2em;
    display: block;
    font-family: 'Poor Story', cursive;
}

/*

  end_div

*/

#end_div{
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

#top_arrow_div{
    width: 100%;
    height: 100px;
    text-align: center;
}

#top_arrow_div>span{
    padding: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url(../image/top_arrow.PNG);
    background-size: cover;
    border-radius: 50%;
    animation-name: textshine, textbizside;
    animation-duration: 2s, 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    cursor: pointer;
}

#top_arrow_div>span:hover{
    animation-name: bling;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#copyright{
    font-family: 'Nanum Pen Script', cursive;
    display: block;
    font-size: 20px;
    margin-top: 5em;
}