/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#middle_balloon{
	    width: 1.8em;
	    margin: 0;
	    top: 87%;
	    right: 12em;
	}

	#small_balloon{
	    width: 0.8rem;
	    margin: 0;  
	    top: 96%;
	    right: 11em;
	}
	
	#skill_div{
		margin-top: -20px;
	}

	.main_skill{
	    font-size : 1em;
	}

	.sub_skill{
	    color: #808080;
	    font-size: 0.7em;
	}

	.tool_skill{
	    font-size : 0.5em;
	    color: #808080
	}

	.etc_skill{
	    font-size : 0.5em;
	}

	.profile_ment{
	    position: block;
	    line-height: 0;
	}

	#skill_div{
		margin-top: -20px;
	}

	#profile_ment_div{
		height: 30rem;
	}

	#seoul{
	    font-size: 0.6em;
	    top: 20%;
	    left: 15%;
	}

	#upgrade{
	    font-size: 1em;
	    top: 32%; 
	    left: 5%;
	}

	#tree{
	    font-size: 1.3em;
	    top: 45%;
	    left: 10%;
	}

	#frontend{
	    font-size: 1.4em;
	    top: 58%;
	    left: 0;
	}

	#developer{
	    font-size: 1.4em;
	    top: 68%;
	    left: 0;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#middle_balloon{
	    width: 3em;
	    margin: 0;
	    top: 87%;
	    right: 18em;
	}

	#small_balloon{
	    width: 1.5rem;
	    margin: 0;  
	    top: 98%;
	    right: 15.5em;
	}

	.main_skill{
	    font-size : 1.7em;
	}

	.sub_skill{
	    color: #808080;
	    font-size: 1.5em;
	}

	.tool_skill{
	    font-size : 1.2em;
	    color: #808080
	}

	.etc_skill{
	    font-size : 0.9em;
	}

	#profile_ment_div{
	    width: 100%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	#profile_ment_div{
	    width: 70%;
	    margin: 0 auto;
	    position: relative;
	}

	#middle_balloon{
	    width: 4.5em;
	    margin: 0;
	    top: 87%;
	    right: 30em;
	}

	#small_balloon{
	    width: 2rem;
	    margin: 0;  
	    top: 100%;
	    right: 28em;
	}

	#skill_div{
		margin-top: -20px;
	}

	.main_skill{
	    font-size : 1.7em;
	}

	.sub_skill{
	    color: #808080;
	    font-size: 1.5em;
	}

	.tool_skill{
	    font-size : 1.2em;
	    color: #808080
	}

	.etc_skill{
	    font-size : 0.9em;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	#middle_balloon{
	    width: 3em;
	    margin: 0;
	    top: 45%;
	}

	#small_balloon{
	    width: 1.4rem;
	    margin: 0;  
	    top: 40%;
	   	right: -3.2em;
	}

	.main_skill{
	    font-size : 1.3em;
	}

	.sub_skill{
	    color: #808080;
	    font-size: 1.2em;
	}

	.tool_skill{
	    font-size : 1em;
	    color: #808080
	}

	.etc_skill{
	    font-size : 0.9em;
	}
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 991.98px){
	.profile_div_img{
		display: none;
	}

	#namecard_ment_div{
		margin-top: 10%;
		margin-bottom: 10%;
		width: 20em;
		height: 13em;
		text-align: center;
		position: relative;
	}

	#namecard_ment_div>h4,p{
		display: inline;
	}
	
	#namecard_ment_div>p:after{
		content: '';
		display: block;
	}

	.sns_icon{
		margin-top: 1em;
	}

	#main_img_first{
		display: none;
	}

	#main_img_second{
	    display: block;
	}
}

