/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#middle_balloon{
	    width: 1.8em;
	    margin: 0;
	    top: 87%;
	    right: 11em;
	}

	#small_balloon{
	    width: 0.8rem;
	    margin: 0;  
	    top: 98%;
	    right: 12.5em;
	}

	.skill_text{
	    font-size: 2vw;
	}

	.skill_text{
	    font-size: 3vw;
	}

	#s_html{
	    top: 33%;
	    left: 5.5em;
	}

	#s_css{
	    top: 38%;
	    left: 7em;
	}

	#s_bs{
	    top: 23%;
	    left: 11.2em;
	}

	#s_js{
	    top: 33%;
	    left: 15.4em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#middle_balloon{
	    width: 3em;
	    margin: 0;
	    top: 87%;
	    right: 18em;
	}

	#small_balloon{
	    width: 1.5rem;
	    margin: 0;  
	    top: 98%;
	    right: 20.5em;
	}

	.skill_text{
	    font-size: 3vw;
	}

	#s_html{
	    top: 33%;
	    left: 4.5em;
	}

	#s_css{
	    top: 38%;
	    left: 6em;
	}

	#s_bs{
	    top: 23%;
	    left: 10.2em;
	}

	#s_js{
	    top: 33%;
	    left: 14.4em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	#middle_balloon{
	    width: 4.5em;
	    margin: 0;
	    top: 87%;
	    right: 30em;
	}

	#small_balloon{
	    width: 2rem;
	    margin: 0;  
	    top: 100%;
	    right: 33em;
	}

	.skill_text{
	    font-size: 3.5vw;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	#middle_balloon{
	    width: 3em;
	    margin: 0;
	    top: 45%;
	    
	}

	#small_balloon{
	    width: 1.4rem;
	    margin: 0;  
	    top: 40%;
	   	right: -3.2em;
	}

	.skill_text{
	    font-size: 1.5vw;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.skill_text{
	    font-size: 1.5vw;
	}
}

@media (max-width: 991.98px){
	#profile_div_img{
		display: none;
	}

	#profile_ment_div{
	    height: 53vw;
	    width: 50%;
	    margin: 0 auto;
	    position: relative;
	}

	.profile_ment{
	    position: absolute;
	    line-height: 0;
	}

	#seoul{
	    font-size: 1.1em;
	    top: 4em;
	}

	#upgrade{
	    font-size: 1.6em;
	    top: 4em; 
	    left: 1em;   
	}

	#ing{
	    font-size: 0.9em;
	    top: 7.3em;
	    left: 9em;
	}

	#tree{
	    font-size: 2em;
	    top: 4.2em;
	    left: 0.5em
	}

	#frontend{
	    font-size: 2.5em;
	    top: 4.3em;
	    left: 1em;
	}

	#developer{
	    font-size: 2.5em;
	    top: 5.05em;
	    left: 1.3em;
	}
}

